<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECommerce</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Helvetica+Now+Display:wght@400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body class="font-helvetica_now_display bg-zinc-100">
    <nav class="w-full fixed top-0 left-0 px-5 py-3">
        <h3 class="text-xl">ECommerce</h3>
    </nav>